@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap');


/* Set margin and padding to 0, and border to none*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Hind, sans-serif;
    font-weight: 300;
}

