@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat&display=swap');


/* Set margin and padding to 0, and border to none*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Hind, sans-serif;
    font-weight: 300;
    color: #323031;
}

/* Headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #323031; 
    letter-spacing: 0.125rem;
    
}

.page-width{
    width:1200px;
    max-width: 1200px;
    margin: 0 auto;
}
#logo {
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 200%;
    margin-left: 0.1rem;
    
}

/* Navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 0.125rem;
    text-align: center;
    
}

#menu, #logo {
    line-height: 2.00rem;
}

#menu li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 0.75rem;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 0.080rem solid #323031;
}

.active {
    border-bottom: 0.080rem solid #323031;
}

/* hero image and cover text */

#hero-outer {
    height: 34.375rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 35.625rem;
    width: 100%;
    background: url(../images/hero-image3.jpg) no-repeat center center;
}

#cover-text {
    font-size: 100%;
    font-family: Hind, sans-serif;
    letter-spacing: 0.125rem;
    text-align: center;
    width: 12.5rem;
    height: 5.625rem;
    padding-top: 1.875rem;
    padding-left: 0.313rem;
    background-color: rgba(255, 255, 255, .7);
    bottom: 0.625rem;
    right: 6.875rem;
    position: absolute;
}

#cover-text h2 {
    color: #fafffd;
}

/* about page */


.f1-history img {
    height: 240px;
    width: 220px;
    max-height: 150%;
    max-width: 150%;
    
    margin-left: 20%;
    margin-right: 20%;
}

#history {
    text-align: center;
    line-height: 10;
}

.service-container{
    margin-top: 32px;
}

.image-container{
    width: 33%;
    max-width: 33%;
    display: inline-block;
}

.text-container{
    width: 64%;
    max-width: 64%;
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
}

.image-container img{
    width: 100%;
}

.race-highlights {
    display: block;
    padding-top: 15%;
    padding-left: 42%;
    padding-right: 15%;
    padding-bottom: 10%;
}

.heading {
    text-align: center;
    padding-top: 1%;
}

